@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

.w-40 {
    width: 40% !important;
}

.btn-dark {
    color: #fff;
    background-color: #2a2929;
}

.btn {
    border: 0 !important;
}

.btn:hover {
    background-color: #ce3c37;
    border: 0 !important;
}

.imi-bg {
    height: 100%;
    background-image: url(bg13.jpeg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    filter: opacity(0.2);
}

.imi-bg-animate {
    background: linear-gradient(235deg, #ffe1e0, #ffffff);
    background-size: 400% 400%;

    -webkit-animation: imi-bg 27s ease infinite;
    -moz-animation: imi-bg 27s ease infinite;
    -o-animation: imi-bg 27s ease infinite;
    animation: imi-bg 27s ease infinite;
}

@-webkit-keyframes imi-bg {
    0% {
        background-position: 0% 90%
    }

    50% {
        background-position: 100% 11%
    }

    100% {
        background-position: 0% 90%
    }
}

@-moz-keyframes imi-bg {
    0% {
        background-position: 0% 90%
    }

    50% {
        background-position: 100% 11%
    }

    100% {
        background-position: 0% 90%
    }
}

@-o-keyframes imi-bg {
    0% {
        background-position: 0% 90%
    }

    50% {
        background-position: 100% 11%
    }

    100% {
        background-position: 0% 90%
    }
}

@keyframes imi-bg {
    0% {
        background-position: 0% 90%
    }

    50% {
        background-position: 100% 11%
    }

    100% {
        background-position: 0% 90%
    }
}

.right-n1 {
    right: -1rem !important;
}

.w-5 {
    width: 5% !important;
}

.winner-list {
    height: 43vh;
    overflow-y: scroll;
    padding: 1rem 0rem 1rem 0rem;
}

.logo-back-button {
    width: 4rem;
    margin: 1rem;
}
